<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Car Dealership</a>
                <div class="collapse navbar-collapse navbar-header">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-left">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'djangoapp:about' %}">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Catalog</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:add_review' dealer_id %}">Add A Review</a>
                    </li>
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action = "{% url 'djangoapp:login' %}" method = "post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control form-control focus-ring py-1 px-2 text-decoration-none border rounded-2" placeholder="Username" name="username" >
                            <input type="password" class="form-control form-control focus-ring py-1 px-2 text-decoration-none border rounded-2" placeholder="Password" name="password" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
                </div>
            </ul>
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button class="btn-outline-warning" data-bs-dismiss="alert">X</button>
            </div>
            {% endif %}
            </div>
        </nav>

        <!-- Add reviews as cards -->
        <div class="container">
            <h2>Reviews for {{ dealer_id }}</h2>
            <div class="card-columns">
                {% for words in review_list %}
                <div class="card" style="width: 18rem;">
                    {% if words.sentiment == "Positive" %}
                        <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/positive.png" alt="Card image cap" height="50px">
                    {% elif words.sentiment == "Negative" %}
                        <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/negative.png" alt="Card image cap" height="50px">
                    {% elif words.sentiment == "Neutral" %}
                        <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/neutral.png" alt="Card image cap" height="50px">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ words.car_make }}, {{ words.car_model }}, {{ words.purchase_date }}</h5>
                        <p class="card-text">{{ words.review }}</p>
                        <p class="card-text">{{ words.name }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>